<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot_frame" default="base_link"/>
    <arg name="map_frame" default="map"/>
    <arg name="input_paths" default="sampled_paths"/>
    <arg name="input_path_costs" default="path_costs"/>
    <arg name="output_path" default="selected_path"/>
    <arg name="waypoint_weight" default="1.0"/>
    <arg name="path_force_weight" default="1.0"/>
    <arg name="waypoints_list" default="[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]]"/>

    <node name="path_selector" pkg="monoforce_navigation" type="path_selector">
        <rosparam subst_value="true">
            robot_frame: $(arg robot_frame)
            map_frame: $(arg map_frame)
            paths_topic: $(arg input_paths)
            path_costs_topic: $(arg input_path_costs)
            selected_path_topic: $(arg output_path)
            waypoint_weight: $(arg waypoint_weight)
            path_force_weight: $(arg path_force_weight)
            waypoints_list: $(arg waypoints_list)
            wp_lookahead_dist: 10.0
            waypoint_reached_dist: 1.0
        </rosparam>
    </node>
</launch>
