<?xml version="1.0" encoding="UTF-8" ?>
<!--Bag file recoder -->
<launch>
  <arg name="additional_topics" default="" />

  <arg name="ouster_topics" value="
    /os_cloud_node/heartbeat /os_cloud_node/imu /os_node/alerts /os_node/alerts_log
    /os_node/heartbeat /os_node/sensor_info /os_node/imu_packets /os_node/lidar_packets
  " />

  <arg name="cam_topics" value="
    /camera_front/camera_info /camera_front/image_color/compressed
    /camera_left/camera_info /camera_left/image_color/compressed
    /camera_rear/camera_info /camera_rear/image_color/compressed
    /camera_right/camera_info /camera_right/image_color/compressed
  " />

  <arg name="robot_topics" value="
    /tf /tf_static
    /icp_odom /imu_odom
    /imu/data /os_cloud_node/imu
    /marv/joint_states /marv/joint_states_full /marv/flippers/joint_states /marv/tracks/joint_states
    " />

  <arg name="monoforce_topics" value="
    /sampled_paths /selected_path
    /grid_map/terrain
    /waypoint /waypoints_route
    /nav/cmd_vel /joy/cmd_vel
  " />

  <arg name="topics" value="$(arg ouster_topics) $(arg cam_topics) $(arg robot_topics) $(arg monoforce_topics) $(arg additional_topics)" />

  <!-- Make sure that if a topic is specified multiple times, with and without a leading slash, we only record it once. -->
  <arg name="unique_topics" value="$(eval ' '.join(map(lambda s: '/' + s, set(map(str.lstrip, topics.split() if isinstance(topics, str) else topics.encode().split(), '/' * len(topics.split()))))) )" />

  <node pkg="rosbag" type="record" name="record_bag"
       args="record --split --size=1024 --repeat-latched --lz4 -o $(env HOME)/ros_bagfiles/monoforce/current/bags/monoforce_
	         $(arg unique_topics)" output="screen" required="true" />
</launch>
