<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="cmd_vel_topic" default="/husky_velocity_controller/cmd_vel" />

    <!-- Keyboard teleoperation -->
    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <remap from="/cmd_vel" to="$(arg cmd_vel_topic)"/>
    </node>
</launch>
