<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- Resize images with img_proc -->
    <group ns="camera_front">
        <node name="resize" pkg="nodelet" type="nodelet" args="standalone image_proc/resize" respawn="false" output="screen">
             <param name="width" value="416"/>
             <param name="height" value="256"/>
             <param name="use_scale" value="false"/>
             <remap from="image" to="image_raw"/>
        </node>
    </group>
    <group ns="camera_left">
        <node name="resize" pkg="nodelet" type="nodelet" args="standalone image_proc/resize" respawn="false" output="screen">
             <param name="width" value="416"/>
             <param name="height" value="256"/>
             <param name="use_scale" value="false"/>
             <remap from="image" to="image_raw"/>
        </node>
    </group>
    <group ns="camera_rear">
        <node name="resize" pkg="nodelet" type="nodelet" args="standalone image_proc/resize" respawn="false" output="screen">
             <param name="width" value="416"/>
             <param name="height" value="256"/>
             <param name="use_scale" value="false"/>
             <remap from="image" to="image_raw"/>
        </node>
    </group>
    <group ns="camera_right">
        <node name="resize" pkg="nodelet" type="nodelet" args="standalone image_proc/resize" respawn="false" output="screen">
             <param name="width" value="416"/>
             <param name="height" value="256"/>
             <param name="use_scale" value="false"/>
             <remap from="image" to="image_raw"/>
        </node>
    </group>
</launch>