<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
  <arg name="fixed_frame" default="odom" doc="Fixed frame for TFs"/>
  <arg name="bag" doc="Path to a bag file"/>

  <!-- Play bag file -->
  <param name="use_sim_time" value="true"/>
  <node name="rosbag" pkg="rosbag" type="play" args="--clock $(arg bag)">
    <remap from="points_filtered_kontron" to="points"/>
  </node>

  <!-- Elevation Mapping -->
  <include file="$(find monoforce_navigation)/launch/elevation_mapping.launch">
    <arg name="input" value="points"/>
    <arg name="output" value="grid_map/terrain"/>
    <arg name="fixed_frame" value="$(arg fixed_frame)"/>
  </include>

  <!-- Differentiable Physics -->
  <include if="1" file="$(find monoforce)/launch/dphysics.launch">
    <arg name="gridmap_topic" value="grid_map/terrain"/>
    <arg name="gridmap_layer" value="elevation_inpainted"/>
  </include>

  <!-- Path selector -->
  <include if="1" file="$(find monoforce_navigation)/launch/path_selector.launch">
    <arg name="input_paths" value="sampled_paths"/>
    <arg name="input_path_costs" value="path_costs"/>
    <arg name="output_path" value="selected_path"/>
    <arg name="waypoints_list" value="[
                                       [100, 0, 0, 0, 0, 0, 1],
                                       ]"/>
    <arg name="waypoint_weight" default="0.0"/>
    <arg name="path_weight" default="1.0"/>
    <arg name="map_frame" value="$(arg fixed_frame)"/>
  </include>

  <!-- Launch RViz with the demo configuration. -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/../config/rviz/monoforce.rviz"/>

</launch>