<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
  <arg name="gui" default="false" doc="Launch Gazebo GUI or not"/>
  <arg name="world" default="$(find monoforce_gazebo)/worlds/terrain_vegetation.world"/>
  <arg name="engine" default="torch" doc="Using NVIDIA Warp- or Pytorch-based differentiable physics"/>
  <arg name="device" default="cpu" doc="Device to run the differentiable physics"/>

  <!-- Gazebo world and spawn Husky robot -->
  <include file="$(find monoforce_gazebo)/launch/husky_sim.launch">
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Elevation Mapping -->
  <include file="$(find monoforce_navigation)/launch/elevation_mapping.launch">
    <arg name="input" value="points"/>
    <arg name="output" value="grid_map/terrain"/>
  </include>

  <!-- SLAM -->
  <include file="$(find monoforce_navigation)/launch/slam.launch">
    <arg name="cloud" value="points"/>
  </include>

  <!-- Differentiable Physics -->
  <include if="1" file="$(find monoforce)/launch/dphysics.launch">
    <arg name="engine" value="$(arg engine)"/>
    <arg name="robot" value="husky"/>
    <arg name="gridmap_topic" value="grid_map/terrain"/>
    <arg name="gridmap_layer" value="elevation_inpainted"/>
    <arg name="device" value="$(arg device)"/>
  </include>

  <!-- Path selector -->
  <include if="1" file="$(find monoforce_navigation)/launch/path_selector.launch">
    <arg name="input_paths" value="sampled_paths"/>
    <arg name="input_path_costs" value="path_costs"/>
    <arg name="output_path" value="selected_path"/>
    <arg name="waypoints_list" value="[
                                       [10, -5, 0, 0, 0, 0, 1],
                                       [10, 5, 0, 0, 0, 0, 1],
                                       [0, 5, 0, 0, 0, 0, 1],
                                       [0, -5, 0, 0, 0, 0, 1],
                                       [0, 0, 0, 0, 0, 0, 1],
                                       ]"/>
    <arg name="waypoint_weight" default="1.0"/>
    <arg name="path_force_weight" default="2.0"/>
    <arg name="map_frame" value="map"/>
  </include>

  <!-- Path follower -->
  <include if="1" file="$(find monoforce_navigation)/launch/path_follower.launch">
    <arg name="path_to_follow" value="selected_path"/>
    <arg name="max_age" value="10.0"/>
    <arg name="map_frame" value="map"/>
    <arg name="keep_path" value="2.0"/>
  </include>

  <!-- Launch RViz with the demo configuration. -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/../config/rviz/monoforce.rviz"/>

</launch>