<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot" default="marv"/>
    <arg name="rviz" default="true"/>

    <!-- Load robot description -->
    <rosparam command="load" file="$(dirname)/../config/params/$(arg robot).params"/>
    <remap if="$(eval 'tradr' in robot)" from="robot_description" to="nifti_robot_description"/>
    <remap if="$(eval 'marv' in robot)" from="robot_description" to="marv/robot_description"/>

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <node pkg="monoforce_demos" type="monoforce_demo" name="monoforce_demo" output="screen">
        <rosparam subst_value="true">
            robot: $(arg robot)
            lss_weights_path: $(find monoforce)/../monoforce/config/weights/lss/lss.pt
            traj_sim_time: 8.0
        </rosparam>
    </node>

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(dirname)/../config/rviz/monoforce_rough.rviz"/>
</launch>
