tqdm==4.62.3
pyyaml==6.0
pathlib==1.0.1
yacs==0.1.6
setuptools==58.0.4
rospkg==1.5.1
python-dateutil==2.8.2
empy==3.3.4
gnupg==2.3.1
configparser==5.0.2
psutil==5.8.0
defusedxml==0.7.1
scikit-image==0.18.1
scikit-learn==1.0
six==1.15.0
albumentations==1.2.1
open3d==0.13.0
matplotlib==3.4.3
opencv_python==4.9.0.80
Pillow==9.5.0
scipy==1.8.1
torchdiffeq==0.2.3
pyquaternion==0.9.9
tensorboardX==2.4
numpy==1.23.5
mayavi==4.8.2
configobj==5.0.8
PySide2==5.15.2
efficientnet_pytorch==0.7.1
