<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="device" default="cpu"/>
    <arg name="opt_terrain" default="false"/>

    <node pkg="monoforce" type="data_vis" name="data_vis" output="screen">
        <rosparam subst_value="true">
            grid_res: 0.1
            d_min: 0.6
            d_max: 6.4
            opt_terrain: $(arg opt_terrain)
        </rosparam>
    </node>

    <node if="$(arg rviz)"
          pkg="rviz" type="rviz" name="rviz" args="-d $(dirname)/../config/rviz/data.rviz"/>
</launch>
