<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="config" default="''"/>
    <arg name="rviz" default="true"/>
    <arg name="record" default="false"/>
    <arg name="bag" default="$(dirname)/../data/robingas/data/22-08-12-cimicky_haj/marv/ugv_2022-08-12-15-18-34.bag"/>
    <arg name="params" default="$(eval bag.split()[0] + '.params')"/>
    <!-- Cloud filter -->
    <arg name="min_depth" default="1.0"/>
    <arg name="max_depth" default="25.0"/>
    <arg name="grid_res" default="0.1"/>

    <!-- Robot data: from bag file -->
    <include file="$(dirname)/play_bag.launch">
        <arg name="bag" value="$(arg bag)"/>
        <arg name="rviz" value="false"/>
    </include>

    <!-- MonoForce node -->
    <node name="monoforce" pkg="monoforce" type="monoforce" output="screen">
        <rosparam subst_value="true">
            img_topic: /camera_front/image_color/compressed
            robot_frame: base_link
        </rosparam>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/monoforce.rviz"/>
</launch>
