<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="grid_res" default="0.1"/>
    <arg name="d_min" default="0.6"/>
    <arg name="d_max" default="6.4"/>
    <arg name="rate" default="1"/>
    <arg name="seq_i" default="0"/>
    <arg name="sample_i" default="10"/>

    <arg name="description" default="$(find husky_sim)/urdf/husky.urdf.xacro"/>
    <!-- Load robot description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(arg description)'"/>
    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <node pkg="monoforce" type="demo" name="demo" output="screen">
        <rosparam subst_value="true">
            grid_res: $(arg grid_res)
            d_min: $(arg d_min)
            d_max: $(arg d_max)
            hm_interp_method: nearest
            opt_terrain: false
            rate: $(arg rate)
            seq_i: $(arg seq_i)
            sample_i: $(arg sample_i)
<!--             lss_weights: $(dirname)/../config/tb_runs/lss_rellis3d_robingas_dphysics_terrain/train_lss.pt -->
            lss_weights: $(dirname)/../config/tb_runs/lss_2024_03_04_09_42_47/train_lss.pt
            pub_cloud: true
            pub_path: true
        </rosparam>
    </node>

    <node if="$(arg rviz)"
          pkg="rviz" type="rviz" name="rviz" args="-d $(dirname)/../config/rviz/data.rviz"/>
</launch>
