<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- Lss node arguments -->
    <arg name="img_topics" default="[]"/>
    <arg name="camera_info_topics" default="[]"/>
    <arg name="hm_frame" default="base_link"/>
    <arg name="model_weights" default="$(dirname)/../config/weights/lss/lss.pt"/>
    <arg name="max_msgs_delay" default="0.1"/>
    <arg name="max_stale_msg_delay" default="0.2"/>
    <arg name="calib_path" default="''"/>
    <arg name="debug" default="false"/>

    <!-- Lss node -->
    <node name="lss" pkg="monoforce" type="lss_ros" output="screen">
        <rosparam subst_value="true">
            img_topics: $(arg img_topics)
            camera_info_topics: $(arg camera_info_topics)
            hm_frame: $(arg hm_frame)
            model_weights: $(arg model_weights)
            max_msgs_delay: $(arg max_msgs_delay)
            max_stale_msg_delay: $(arg max_stale_msg_delay)
            calib_path: $(arg calib_path)
            debug: $(arg debug)
        </rosparam>
    </node>
</launch>
