<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="config" default="''"/>
<!--     <arg name="img_topics" default="['/realsense_front/color/image_raw/compressed', -->
<!--                                      '/realsense_left/color/image_raw/compressed', -->
<!--                                      '/realsense_right/color/image_raw/compressed', -->
<!--                                      '/realsense_rear/color/image_raw/compressed']"/> -->
<!--     <arg name="camera_info_topics" default="['/realsense_front/color/camera_info', -->
<!--                                              '/realsense_left/color/camera_info', -->
<!--                                              '/realsense_right/color/camera_info', -->
<!--                                              '/realsense_rear/color/camera_info']"/> -->
    <arg name="img_topics" default="['/camera_fisheye_front/image_color/compressed',
                                     '/camera_left/image_color/compressed',
                                     '/camera_right/image_color/compressed',
                                     '/camera_fisheye_rear/image_color/compressed']"/>
    <arg name="camera_info_topics" default="['/camera_front/camera_info',
                                             '/camera_left/camera_info',
                                             '/camera_right/camera_info',
                                             '/camera_rear/camera_info']"/>
    <arg name="hm_frame" default="base_link"/>
    <arg name="model_weights" default="$(dirname)/../config/weights/lss/lss.pt"/>
    <arg name="max_imgs_delay" default="0.1"/>

    <!-- Lss node -->
    <node name="lss" pkg="monoforce" type="lss_ros" output="screen">
        <rosparam subst_value="true">
            img_topics: $(arg img_topics)
            camera_info_topics: $(arg camera_info_topics)
            hm_frame: $(arg hm_frame)
            model_weights: $(arg model_weights)
            max_imgs_delay: $(arg max_imgs_delay)
        </rosparam>
    </node>
</launch>
