<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
<!--     <arg name="bag" default="$(dirname)/../data/robingas/data/22-08-12-cimicky_haj/marv/ugv_2022-08-12-15-18-34.bag"/> -->
    <arg name="bag" default="$(dirname)/../data/robingas/data/22-10-27-unhost-final-demo/husky_2022-10-27-15-33-57.bag"/>

    <!-- Robot data: from bag file -->
    <include file="$(dirname)/play_bag.launch">
        <arg name="bag" value="$(arg bag)"/>
        <arg name="rate" value="1."/>
        <arg name="start" value="0."/>
        <arg name="rviz" value="false"/>
    </include>

    <!-- LSS node -->
    <include file="$(dirname)/lss.launch">
        <arg name="img_topics" value="['/camera_fisheye_front/image_color/compressed',
                                       '/camera_left/image_color/compressed',
                                       '/camera_right/image_color/compressed',
                                       '/camera_fisheye_rear/image_color/compressed']"/>
        <arg name="camera_info_topics" value="['/camera_front/camera_info',
                                               '/camera_left/camera_info',
                                               '/camera_right/camera_info',
                                               '/camera_rear/camera_info']"/>
        <arg name="hm_frame" value="base_link"/>
        <arg name="model_weights" value="$(dirname)/../config/weights/lss/train_lss.pt"/>
        <arg name="max_imgs_delay" value="1."/>
    </include>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/lss.rviz"/>
</launch>
