<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="diffphys" default="false" doc="Whether to run the diff physics node or not"/>
    <arg name="slam" default="false" doc="Whether to run the SLAM node or not"/>
    <arg name="lss_debug" default="false"/>
    <arg name="weights" default="$(dirname)/../config/tb_runs/lss_2024_01_29_16_21_19/train_lss.pt"/>

<!--     <arg name="bag" default="$(dirname)/../data/robingas/data/22-09-27-unhost/husky/husky_2022-09-27-15-01-44.bag"/> -->
    <arg name="bag" default="$(dirname)/../data/robingas/data/22-10-27-unhost-final-demo/husky_2022-10-27-15-33-57.bag"/>
    <arg name="img_topics" default="['/camera_front/image_color/compressed',
                                     '/camera_left/image_color/compressed',
                                     '/camera_rear/image_color/compressed',
                                     '/camera_right/image_color/compressed']"/>
    <arg name="camera_info_topics" default="['/camera_front/camera_info',
                                             '/camera_left/camera_info',
                                             '/camera_rear/camera_info',
                                             '/camera_right/camera_info']"/>
    <arg name="calib_path" default="$(dirname)/../data/robingas/data/22-09-27-unhost/husky/husky_2022-09-27-15-01-44_trav/calibration/"/>

<!--     <arg name="bag" default="$(dirname)/../data/robingas/data/22-08-12-cimicky_haj/marv/ugv_2022-08-12-15-18-34.bag"/> -->
<!--     <arg name="img_topics" default="['/camera_fisheye_front/image_color/compressed', -->
<!--                                      '/camera_left/image_color/compressed', -->
<!--                                      '/camera_right/image_color/compressed', -->
<!--                                      '/camera_fisheye_rear/image_color/compressed']"/> -->
<!--     <arg name="camera_info_topics" default="['/camera_fisheye_front/camera_info', -->
<!--                                              '/camera_left/camera_info', -->
<!--                                              '/camera_right/camera_info', -->
<!--                                              '/camera_fisheye_rear/camera_info']"/> -->
<!--     <arg name="calib_path" default="$(dirname)/../data/robingas/data/22-08-12-cimicky_haj/marv/ugv_2022-08-12-15-18-34_trav/calibration/"/> -->

    <!-- Robot data: from bag file -->
    <include file="$(dirname)/play_bag.launch">
        <arg name="bag" value="$(arg bag)"/>
        <arg name="rate" value="1."/>
        <arg name="start" value="0."/>
        <arg name="rviz" value="false"/>
    </include>

    <!-- LSS node -->
    <include file="$(dirname)/lss.launch">
        <arg name="img_topics" value="$(arg img_topics)"/>
        <arg name="camera_info_topics" value="$(arg camera_info_topics)"/>
        <arg name="calib_path" value="$(arg calib_path)"/>
        <arg name="hm_frame" value="base_link"/>
        <arg name="config_path" value="$(dirname)/../config/cfg.yaml"/>
        <arg name="lss_config_path" value="$(dirname)/../config/lss.yaml"/>
        <arg name="model_weights" value="$(arg weights)"/>
        <arg name="max_msgs_delay" value="0.2"/>
        <arg name="max_stale_msg_delay" value="0.25"/>
        <arg name="debug" value="$(arg lss_debug)"/>
    </include>

    <!-- Diff Physics node -->
    <node if="$(arg diffphys)" name="diff_physics" pkg="monoforce" type="diff_physics" output="screen">
        <rosparam subst_value="true">
            hm_topic: /height_map/points
            hm_frame: base_link
            linear_vels: [1.]
            angular_vels: [0.]
            total_sim_time: 5.
            max_stale_msg_delay: 0.5
        </rosparam>
    </node>

    <group if="$(arg slam)">
        <!-- Cloud filterring -->
        <include file="$(dirname)/cloud_filter.launch">
            <arg name="input" value="points"/>
            <arg name="output" value="filtered_cloud"/>
            <arg name="min_depth" value="1.0"/>
            <arg name="max_depth" value="25.0"/>
            <arg name="grid_res" value="0.1"/>
        </include>
        <!-- SLAM -->
        <include file="$(dirname)/slam.launch">
            <arg name="cloud" value="filtered_cloud"/>
            <arg name="odom_frame" value="odom"/>
        </include>
    </group>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/lss.rviz"/>
</launch>
