<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="robot" default="tradr" doc="Robot type: husky, tradr or marv"/>
    <arg name="diffphys" default="false" doc="Whether to run the diff physics node or not"/>
    <arg name="dphys_config_path" default="$(dirname)/../config/dphys_cfg.yaml"/>
    <arg name="lss_config_path" default="$(dirname)/../config/lss_cfg_$(arg robot).yaml"/>
    <arg name="weights" default="$(dirname)/../config/weights/lss/lss_robingas_$(arg robot).pt"/>

    <!-- Husky robot arguments -->
    <arg if="$(eval robot == 'husky')" name="bag" default="$(dirname)/../data/bags/robingas/data/22-10-27-unhost-final-demo/husky_2022-10-27-15-33-57.bag"/>
    <arg if="$(eval robot == 'husky')" name="img_topics" default="['/camera_front/image_color/compressed',
                                                                   '/camera_left/image_color/compressed',
                                                                   '/camera_rear/image_color/compressed',
                                                                   '/camera_right/image_color/compressed']"/>
    <arg if="$(eval robot == 'husky')" name="camera_info_topics" default="['/camera_front/camera_info',
                                                                           '/camera_left/camera_info',
                                                                           '/camera_rear/camera_info',
                                                                           '/camera_right/camera_info']"/>
    <arg if="$(eval robot == 'husky')" name="calib_path" default="$(dirname)/../data/bags/robingas/data/22-09-27-unhost/husky/husky_2022-09-27-15-01-44/calibration/"/>

    <!-- Tradr robot arguments -->
    <arg if="$(eval robot == 'tradr')" name="bag" default="$(dirname)/../data/bags/robingas/data/22-10-20-unhost/ugv_2022-10-20-13-58-22.bag"/>
    <arg if="$(eval robot == 'tradr')" name="img_topics" default="['/camera_front/image_rect/compressed',
                                                                   '/camera_left/image_rect/compressed',
                                                                   '/camera_rear_left/image_rect/compressed',
                                                                   '/camera_rear_right/image_rect/compressed',
                                                                   '/camera_right/image_rect/compressed']"/>
    <arg if="$(eval robot == 'tradr')" name="camera_info_topics" default="['/camera_front/camera_info',
                                                                           '/camera_left/camera_info',
                                                                           '/camera_rear_left/camera_info',
                                                                           '/camera_rear_right/camera_info',
                                                                           '/camera_right/camera_info']"/>
    <arg if="$(eval robot == 'tradr')" name="calib_path" default="$(dirname)/../data/bags/robingas/data/22-10-20-unhost/ugv_2022-10-20-13-58-22/calibration/"/>

    <!-- Robot data: from bag file -->
    <include file="$(dirname)/robingas_bag.launch">
        <arg name="bag" value="$(arg bag)"/>
        <arg name="robot" value="$(arg robot)"/>
        <arg name="rate" value="1."/>
        <arg name="start" value="0."/>
        <arg name="rviz" value="false"/>
    </include>

    <!-- LSS node -->
    <include file="$(dirname)/lss.launch">
        <arg name="img_topics" value="$(arg img_topics)"/>
        <arg name="camera_info_topics" value="$(arg camera_info_topics)"/>
        <arg name="calib_path" value="$(arg calib_path)"/>
        <arg name="hm_frame" value="base_link"/>
        <arg name="dphys_config_path" value="$(arg dphys_config_path)"/>
        <arg name="lss_config_path" value="$(arg lss_config_path)"/>
        <arg name="weights" value="$(arg weights)"/>
        <arg name="max_msgs_delay" value="0.2"/>
        <arg name="max_stale_msg_delay" value="1.0"/>
    </include>

    <!-- Diff Physics node -->
    <node if="$(arg diffphys)" name="diff_physics" pkg="monoforce" type="diff_physics" output="screen">
        <rosparam subst_value="true">
            robot: $(arg robot)
            hm_topic: /height_map
            hm_frame: base_link
            linear_vels: [0.7, 0.7, 0.8]
            angular_vels: [0., 0.2, -0.4]
            total_sim_time: 5.
            max_stale_msg_delay: 0.5
        </rosparam>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/lss.rviz"/>
</launch>
