<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="false"/>
    <arg name="robot" default="husky" doc="Robot type: husky, tradr or marv"/>
    <arg name="dphys_config_path" default="$(dirname)/../config/dphys_cfg.yaml"/>
    <arg name="lss_config_path" default="$(dirname)/../config/lss_cfg_$(arg robot).yaml"/>
    <arg name="weights" default="$(dirname)/../config/weights/lss/lss_robingas_$(arg robot).pt"/>
    <arg name="img_topics" default="[/ids_camera/image_raw/compressed]"/>
    <arg name="camera_info_topics" default="[/ids_camera/camera_info]"/>
    <arg name="imgs_max_age" default="0.5"/>
    <!-- dphysics arguments -->
    <arg name="warp_dphys" default="false" doc="Using NVIDIA Warp-based differentiable physics or not"/>
    <arg name="traj_sim_time" default="8.0" doc="Simulation time horizon of the trajectories"/>
    <arg name="device" default="cpu" doc="Device to run the warp-based differentiable physics on"/>
    <arg name="hm_max_age" default="0.5"/>

    <!-- RGB Terrain Encoder -->
    <include if="1" file="$(dirname)/terrain_encoder.launch">
        <arg name="img_topics" value="$(arg img_topics)"/>
        <arg name="camera_info_topics" value="$(arg camera_info_topics)"/>
        <arg name="output_topic" value="height_map"/>
        <arg name="hm_frame" value="base_link"/>
        <arg name="max_msgs_delay" value="0.2"/>
        <arg name="max_age" value="$(arg imgs_max_age)"/>
        <arg name="weights" value="$(arg weights)"/>
        <arg name="dphys_config_path" value="$(arg dphys_config_path)"/>
        <arg name="lss_config_path" value="$(arg lss_config_path)"/>
    </include>

    <!-- Lidar Terrain Encoder -->
    <include if="0" file="$(dirname)/geom_hm_estimator.launch">
        <arg name="pts_topics" value="[/points]"/>
        <arg name="output_topic" value="grid_map/terrain"/>
        <arg name="max_age" value="$(arg hm_max_age)"/>
    </include>

    <!-- Averaging height map predictions -->
    <node if="0" name="gridmaps_merger" pkg="monoforce" type="gridmaps_merger" output="screen">
        <rosparam subst_value="true">
            robot_frame: base_link
            map_frame: map
            gridmap_topic: grid_map/terrain
            max_age: 2.0
        </rosparam>
        <remap from="grid_map_merged/terrain" to="grid_map_merged/terrain"/>
    </node>

    <!-- Diff Physics: paths sampling -->
    <include file="$(dirname)/dphysics.launch">
        <arg name="warp_dphys" value="$(arg warp_dphys)"/>
        <arg name="robot" value="husky"/>
        <arg name="gridmap_topic" value="grid_map/terrain"/>
<!--         <arg name="gridmap_topic" value="grid_map_merged/terrain"/> -->
        <arg name="gridmap_frame" value="base_link"/>
        <arg name="traj_sim_time" value="$(arg traj_sim_time)"/>
        <arg name="device" value="$(arg device)"/>
        <arg name="max_age" value="$(arg hm_max_age)"/>
    </include>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/lss.rviz"/>
</launch>
