<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="robot" default="tradr"/>

    <!-- Load robot description -->
    <rosparam command="load" file="$(dirname)/../config/params/$(arg robot).params"/>
    <remap if="$(eval robot == 'tradr')" from="robot_description" to="nifti_robot_description"/>

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <node pkg="monoforce" type="monoforce" name="monoforce" output="screen">
        <rosparam subst_value="true">
            robot: $(arg robot)
            total_sim_time: 7.0
            n_samples: 700
            lss_weights_path: $(dirname)/../config/weights/lss/lss_robingas_$(arg robot).pt
            dphys_config_path: $(dirname)/../config/dphys_cfg.yaml
            lss_config_path: $(dirname)/../config/lss_cfg_$(arg robot).yaml
            pub_cloud: true
            pub_path: true
        </rosparam>
    </node>

    <node if="$(arg rviz)"
          pkg="rviz" type="rviz" name="rviz" args="-d $(dirname)/../config/rviz/monoforce_$(arg robot).rviz"/>
</launch>
