<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
    <arg name="rate" default="1." doc="Playback rate"/>
    <arg name="start" default="0." doc="Start moment in a bag file [sec]"/>
    <!--Bag file player -->
<!--    <arg name="bag" default="$(dirname)/../data/robingas/data/22-10-27-unhost-final-demo/husky/husky_2022-10-27-15-23-47.bag"/>-->
    <arg name="bag" default="$(dirname)/../data/robingas/data/22-08-12-cimicky_haj/marv/ugv_2022-08-12-15-18-34.bag"/>

    <arg name="params" default="$(eval bag.split()[0] + '.params')"/>
    <rosparam command="load" file="$(arg params)"/>
    <param name="use_sim_time" value="true"/>

    <node name="rosbag_play" pkg="rosbag" type="play"
          args="--clock --delay 3.0 --rate $(arg rate) --start $(arg start) $(arg bag)">
        <remap from="points" to="cloud"/>
        <remap from="os_cloud_node/destaggered_points" to="cloud"/>
    </node>

    <!-- Visualization -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/bag_data.rviz"/>
</launch>
