<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="cloud" default="ouster/points"/>
    <arg name="robot_frame" default="base_link"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="lidar_beams" default="128"/>
    <arg name="params" default="$(dirname)/../config/slam/mapper_node_$(arg lidar_beams).params"/>

    <!-- ICP mapper node -->
    <node pkg="norlab_icp_mapper_ros" type="mapper_node" name="mapper_node" output="screen">
        <rosparam command="load" file="$(arg params)"/>
        <rosparam subst_value="true">
            robot_frame: $(arg robot_frame)
            odom_frame: $(arg odom_frame)
            icp_config: $(dirname)/../config/slam/icp_config_$(arg lidar_beams).yaml
            input_filters_config: $(dirname)/../config/slam/input_filters_$(arg lidar_beams).yaml
            map_post_filters_config: $(dirname)/../config/slam/map_post_filters_$(arg lidar_beams).yaml
        </rosparam>

        <remap from="points_in" to="$(arg cloud)"/>
    </node>

</launch>
