<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="record" default="false"/>
    <arg name="record_folder" default="$(dirname)"/>

    <!-- Robot data: from bag file -->
    <include file="$(dirname)/os_replay.launch">
        <arg name="rviz" value="false"/>
    </include>

    <!-- SLAM -->
    <include file="$(dirname)/slam.launch">
        <arg name="cloud" value="ouster/points_deskewed"/>
        <arg name="odom_frame" value="odom"/>
        <arg name="robot_frame" value="base_link"/>
        <arg name="lidar_beams" default="32"/>
    </include>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/radarize.rviz"/>

    <!-- Record new bag files -->
    <node if="$(arg record)" pkg="rosbag" type="record" name="rosbag_record_tf"
          args="tf -O $(arg record_folder)/map2odom.bag"/>
    <node if="$(arg record)" pkg="rosbag" type="record" name="rosbag_record_points"
          args="ouster/points_deskewed -O $(arg record_folder)/points.bag"/>
</launch>
